{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>DgTask - Inicio</title>
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'base/pluginscss.html' %}
</head>
<body class="w3-light-grey">	
	<!-- Top container -->
	<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
	  <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-light-grey" id="navcontrol"><i class="fa fa-bars"></i> &nbsp;<!-- Menu --></button>
	  <span class="w3-bar-item w3-left">Logo</span>
	  <span class="w3-bar-item w3-right">DG TASK</span>
	</div>
	{% for usu in usuario %}
	<!-- Sidebar/menu -->
	<nav class="w3-sidebar w3-collapse w3-black w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
	  <div class="w3-container w3-row">
	    <div class="w3-col s4">
	    	{% with "images/avatar/avatar"|add:usu.sexo|add:".png" as templateimg %}
	      	<img src="{% static templateimg %}" class="w3-circle w3-margin-right" style="width:46px">
	      	{% endwith %}
	    </div>
	    <div class="w3-col s8 w3-bar">
	      	<span>Olá, <strong>{{ usu.nome }}</strong></span><br>
	      	<a href="#" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i></a>
	    </div>
	  </div>
	  <hr>
	  <div class="w3-container">
	    <h5>Menu</h5>
	  </div>
	  <div class="w3-bar-block">
	    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-large w3-padding-16 w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a> -->
	    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue" id="inicio"><i class="fa fa-diamond fa-fw"></i>&nbsp; Inicio</a>
	    <a href="/dgtask/perfil_usuario/{{ usu.idusuario }}" class="w3-bar-item w3-button" id="profile"><i class="fa fa-users fa-fw"></i>&nbsp; Meu Perfil</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding" id="task"><i class="fa fa-eye fa-fw"></i>&nbsp; Chamados</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding" id="message"><i class="fa fa-envelope fa-fw"></i>&nbsp; Mensagens</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding" id="host"><i class="fa fa-desktop fa-fw"></i>&nbsp; Servidores</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding" id="history"><i class="fa fa-history fa-fw"></i>&nbsp; History</a>
	    <a href="#" class="w3-bar-item w3-button w3-padding" id="config"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a>
	  </div>
	</nav>
	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
	{% endfor %}
	<!-- !PAGE CONTENT! -->
	<div id="pagecontent">
	{% block content %}
    {% endblock content %}
	</div>

	{% include 'base/pluginsjs.html' %}
	<script type="text/javascript">
		// Get the Sidebar
		//var mySidebar = document.getElementById("mySidebar");
		// Get the DIV with overlay effect
		// overlayBg = document.getElementById("myOverlay");
		// Toggle between showing and hiding the sidebar, and add overlay effect
		var status = 'on';
		$("#navcontrol").click(function() {
			if (status === 'on') {
		    	$("#mySidebar").removeClass('w3-collapse');
		    	$("#mySidebar").hide();
		    	$("#main").css('margin-left', 0);
		    	status = 'off';
		  	} else {
		    	$("#mySidebar").addClass('w3-collapse');
		    	$("#mySidebar").show();
		    	$("#main").css('margin-left', 300)
		    	status = 'on';
		  	}
		});

		$("#inicio").click(function(){
			$.ajax({
                type: 'POST',
                url: '/dgtask/',
                data: {"csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val()},
                dataType: 'html',
                success: function(result){
                    $("#pagecontent").html(result);
                }
            });
		});

	</script>
</body>
</html>